
// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Lora|Raleway');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #5F8E5F;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color:  #EEF4F2 !important;
  font-family: 'Lora';
}

#navbarDropdown {
  color:  #EEF4F2 !important;
  font-family: 'Lora';
}


//#0D3257 #97A7B7 #B2C2B9 #BDD6E0 #65754D #C7DBA9

//#4390bc #68a7ca #8dbdd8 #b2d3e6 #d8e9f3

//#0DA9FF #2AC475 #82FF00 #E8C10C #FF7D0D

//#233656 #415B76 #7B9BA6 #CDD6D5 #EEF4F2

//NOTE: I think this is the one.
//#CFF09E #A8DBA8 #79BD9A #3B8686 #0B486B


  #welcomebod {
  background-color: #E8E8E8;
  background: url('/images/Splash.jpg') no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   min-width: 100%;
   min-height: 100%;
   font-family: 'Raleway', sans-serif;

}

#normalbod {
    background-color: #E8E8E8;
    min-width: 100%;
    min-height: 100%;
}
.card-header, .card-footer {
  background-color: #5F8E5F;
  color: #EEF4F2;
}

.card-body {
  background-color: #EEF4F2;
}

.table {
  background-color: #EEF4F2;
}

.taggedconcol {
  margin-top: 1em;
  max-width: 20% !important;
}

.vue-map-container {
  margin: 0 !important;
  width: 100% !important;
}

.table {
  margin:0;
}

.clearbtn {
  background-color: transparent;
}

#welcomepage {
  position: relative;
  top: 50%;
  transform: translateY(50%);
}
#welcomecard {
  max-width: 750px;
  margin: auto;
}

#welcomebackground {
  background: url('/images/Splash.jpg') no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   min-width: 100%;
   min-height: 100%;

}

.card {
  border: 2px solid #5F8E5F;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lora';
}

table {
  max-width: 100%;
}
